
VITE_GOOGLE_SPREADSHEET_ID=1_VLTlPVySh3yALq3hC_FrpbJENZL47oGZoAwf1wdL_E


VITE_GOOGLE_API_KEY=""

VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzG5KrfSxUAaqFno_CvU00WGkhDlLOl6cgC7WAHSLMaMzC12kVuuL7xiqeo2utSW7GSkg/exec

VITE_SHEET_APPOINTMENTS = Appointments
VITE_SHEET_USERS = Users
VITE_SHEET_UNAVAILABLE = Unavailable
VITE_SHEET_SETTINGS = Settings
VITE_SHEET_ARCHIVE = Archive
VITE_SHEET_SERVICES = Services

VITE_WULSHIS_URL = http://localhost:3001/